<div class="container">
  <div class="card-back">
    <div class="container">
      <div class="header">
        <h1>Collect your favourites</h1>
        <div class="search-container">
          <input
            type="search"
            id="searchInput"
            placeholder="Search title and add to grid"
          />
        </div>
      </div>
      <div class="card-line">
        <hr />
      </div>
      <div class="movie-grid" id="movieGrid"></div>
    </div>
  </div>
</div>

<script src="js/card.js"></script>
