<nav class="navbar">
  <div class="nav-container">
    <a href="#" class="logo">
      <img src="assets/image/Movie_Logo.png" alt="Logo" />
    </a>
    <ul class="nav-links">
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Our Screens</a></li>
      <li><a href="#">Schedule</a></li>
      <li><a href="#">Movie Library</a></li>
      <li><a href="#">Location & Contact</a></li>
    </ul>
    <button class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
  </div>
</nav>
